*{
    margin: 0;
    padding: 0;
}
ul.topicos {
    padding-right: 3rem;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    width: 30rem;
}
li {
    font-size: 2rem;
    margin-block: 1rem;
}
a {
    font-size: 25px;
    color:black;
}
h1 {
    text-align: center;
    font-size: 4rem;
    margin-top: 2rem;
}
h2 {
    font-size: 2rem;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}
body {
    background: #e2e7e7;
}
img {
    margin: 1rem;
    width: 25%;
}
nav.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e27bb4;
}
#img {
    width: 5rem;
    height: 5rem;
    margin-top: 0;
    margin-left: 0;
    margin-block: 0;
}
#image {
    width: 5rem;
    height: 5rem;
    margin-top: 0;
    margin-left: 0;
    margin-block: 0;
}
.container {
    display: flex;
    align-items: center;
}
.listaApresentacao {
    margin-left: 8rem;
    margin-top: 3rem;
}
.respostasFit {
    margin-left: 2rem;
    margin-top: 3rem;
    font-size: 2rem;
}
p {
  margin-bottom: 2rem;
}
.agradecimentos {
    margin-top: 5rem;
    font-size: 2.5rem;
    margin-left: 28rem;
}
footer {
    color: #b43179;
    display: flex;
    margin-top: 10rem;
    margin-left: 0;
    
}
.about {
    display: flex; 
    padding-right: 3rem;
    
}
.a {
    color: #b43179;
    padding-right: 0.5rem;
    display: flex;
    margin-top: 0.3rem;
    margin-left: 6rem;
    justify-content: space-between;
}
strong {
    font-size: 2.5rem;
}






