*{
    margin: 0;
    padding: 0;
}
ul.topicos {
    padding-right: 3rem;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    width: 30rem;
}
li {
    font-size: 2rem;
}
a{
    font-size: 25px;
    color:black;
}
h1 {
    text-align: center;
    font-size: 4rem;
}
h2 {
    font-size: 2rem;
    margin-left: 3rem;
    margin-bottom: 1rem;
}
body {
    background: #e2e7e7;
}
img {
    margin: 1rem;
    width: 25%;
}
nav.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e27bb4;
}
#img {
    width: 5rem;
    height: 5rem;
    margin-top: 0;
    margin-left: 0;
    margin-block: 0;
}
.container {
    display: flex;
    align-items: center;
}





